name: ordinario ci/cd

on:
  push:
    branches:
      - main

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build and push the Docker image
        run: |
          docker login --username fouler44 --password ${{ secrets.GHCR_PAT }} ghcr.io
          docker build . -t ghcr.io/fouler44/backend-ordinario:latest
          docker push ghcr.io/fouler44/backend-ordinario:latest