name: ordinario ci/cd

on:
  push:
    branches:
      - main

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build and push the Docker image
        run: |
          echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u fouler44 --password-stdin          
          docker build . -t ghcr.io/fouler44/backend-ordinario:latest
          docker push ghcr.io/fouler44/backend-ordinario:latest
